<img class=" home_pic "  >
<div class=" pt-5 mt-5">
	<h1 class="d-flex justify-content-center"><strong>The best collective-recommandation engine for movies</strong></h1>
	<div class="center">	
		<div class="row container pt-2" style="margin-top: 50px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;"
	    >
			<div class="col mt-5 pt-5 mt-5 pt-5">
	    		<button  (click)="onViewJoinGroup()" class="col btn btn-block btn-lg btn-primary">Join Group <i class="fas fa-user ml-2"></i> </button>
	    	</div>

	    	<div class="col mt-5 pt-5">
			<button   (click)="onViewCreateGroup()" class="col btn btn-block btn-lg btn-light">Create Group<i class="fas fa-users ml-2"></i> </button>
		</div>
	</div>
</div>