<div class="" >
	<img class=" home_pic "  >
</div>
<div class="center pt-5 mt-5">

    	<div class="row container pt-5" style="margin-top: 50px;">

    		<div class="col mt-5 pt-5 mt-5 pt-5">
        		<button  onclick="hello()" class="col btn btn-block btn-lg btn-primary">Try Recommandation <i class="fas fa-user ml-2"></i> </button>
        	</div>

        	<div class="col mt-5 pt-5">
				<a href="http://127.0.0.1:4200/group"><button  onclick="invite()" class="col btn btn-block btn-lg btn-light">Create Group<i class="fas fa-users ml-2"></i> </button></a>
			</div>

        </div>
        
</div>
