[submodule "microservice"]
	path = microservice
	url = https://github.com/hostettler/microservices.git
[submodule "microservices"]
	path = microservices
	url = https://github.com/hostettler/microservices.git
