<div class="row m-1">
  <div class="col-md-8">
    <div
      *ngFor="let film of films; let i = index"
      style="border: 0;"
      >
      <div id="{{film.id}}" class="container pb-5 mb-5" >
        <img class="mt-5 rounded mx-auto d-block images keep_ratio_img im_style" src="{{ 'https://image.tmdb.org/t/p/original' + film.poster_path }}" style="">
        <div class="container ">
          <span *ngIf="mobile; else elseBlock">
            <div class="center_icon_btn ">
              <div class="row mt-2 " style="position: relative;">
                <button id="sm"  (click)=" score( [film.id,true] ) "  class="col btn_select  like "><i class="fas fa-thumbs-up" value="true"></i></button>
                <button id="sm"  (click)="score( [film.id,false] )"   class="col btn_select unlike "><i class="fas fa-thumbs-down"></i></button>
                <button id="sm"   class="col btn_select info  " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExampleX"  [attr.href]="'#collapseExampleX'+i"><i class="fas fa-info"></i></button>
              </div>
            </div>
          </span>
          <ng-template #elseBlock>
            <div class="center_icon_btn center">
              <div class="row mt-2 " style="position: relative;">
                <button id="sm"  (click)=" score( [film.id,true] ) "  class="col btn_select  like "><i class="fas fa-thumbs-up" value="true"></i></button>
                <button id="sm"  (click)="score( [film.id,false] )"   class="col btn_select unlike "><i class="fas fa-thumbs-down"></i></button>
                <button id="sm"   class="col btn_select info  " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExampleX"  [attr.href]="'#collapseExampleX'+i"><i class="fas fa-info"></i></button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="{{'collapseExampleX'+i}}" aria-expanded="false" aria-controls="collapseExampleX">
              <div class="card card-body" style="border-color: #007bff;border-width: medium;">
                <p>
                  <h5><strong>
                {{ film.title }}
                 </strong></h5>
                <p>
                <div class="row">
                  <div class="col-2">Story</div>
                  <div class="col">{{ film.overview }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">Popularity</div>
                  <div class="col">{{ film.popularity }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">Release Date</div>
                  <div class="col">{{ film.release_date }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">More</div>
                  <div class="col">{{ film.info }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 " style="background-color: white;">
    <div class="mt-5 card-header bg-light" style="border-bottom:0px;">
      <h4 style="color: block">
        My groups
      </h4>
      <div id="accordion">
        <div
          *ngFor="let group of groupsInfo; let i = index"
          style="border: 0;"
          [attr.data-index]="i">
          <div class="card">
            <div id="{{'heading'+(i+1)}}" class=" card-header mb-0 btn btn-link " data-toggle="collapse"  [attr.data-target]="'#collapse'+(i+1)" aria-expanded="true" aria-controls="collapse{{i+1}}">
            <div class="nav-item nav-link mt-1 float-left" >
              <img class="col rounded-circle account-img-small " src='{{ "assets/images/" + getImage(group.groupName) + ".jpg" }}'  style="height: 50px;width: 80px;margin-right: 3px;margin-bottom: 3px;">
              <small class="ml-4">{{group.groupName}}</small>
            </div>
        <div class="nav-item nav-link float-right" href="">
          <div class="row ">
            <span *ngIf="user===group.admin">
              <button type="button"(click)="onViewRecommendation( group.groupName )" class="col btn-sm btn-primary mt-3" >Movies</button>
            </span>
            <button type="button" class="col btn-sm btn-outline-primary mt-3 ml-2" (click)="onViewScoreMovies( group.groupName )">Scores</button>
          </div>
        </div>
      </div>
      <div id="collapse{{i+1}}" class="collapse" aria-labelledby="heading{{i+1}}" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="mt-2">Members</h4>
            </div>
            <div class="float-right text-primary col " >
              <div class="col row float-right mr-1 mb-2">
                <button type="button" class="col btn-sm btn-primary mt-3 ml-2" data-toggle="modal" [attr.data-target]="'#exampleModal'+(i+1)" data-whatever="groupUrl">Invite</button>
                <div class="modal fade" id="exampleModal{{i+1}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{i+1}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{i+1}}">Share Invitation Code</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Group:</label>
                            <input type="text" class="form-control" id="recipient-name" value="{{group.groupName}} ">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Invitation code:</label>
                            {{group.groupName}}
                              <input type="text" class="form-control" id="recipient-name" value="{{group.invitation}}">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button (click)="copyToClipboard( group.invitation )" type="button"  class="btn btn-primary " >Copy Inviation Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <span *ngIf="user===group.admin">
                  <button type="button" class="col btn-sm btn-outline-secondary mt-3 ml-2" data-toggle="modal" [attr.data-target]="'#exampleModaDelete'+(i+1)" data-whatever="groupUrl">Delete</button>
                </span>
                <div class="modal fade" id="exampleModaDelete{{i+1}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{i+1}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{i+1}}">Delete Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Groupe:</label>
                            <input type="text" value="{{group.groupName}}" class="form-control" id="recipient-name">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" (click)="onClickDeleteGroup( group.groupName )" class="btn  btn-danger">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              *ngFor="let user of group.users; let i = index"
              id="heading{{i+1}}" class=" card-header bg-white mb-0 btn btn-link" data-toggle="collapse" data-target="#collapse{{i+1}}" aria-expanded="true" aria-controls="collapse{{i+1}}"
              >
              <div class="nav-item nav-link mt-1 float-left" >
                <img class="col rounded-circle account-img-small " src="assets/images/user1.jpg"  style="height: 50px;width: 80px;margin-right: 3px;margin-bottom: 3px;">
                <small class="ml-4">{{user}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
