<div class="row">
  <div class="col-xs-12">

    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let film of films; let i = index"
        (click)="onViewFilm(i)">
        <h4 class="list-group-item-heading" >
          {{ film.title }}
           <!-- <button class="btn btn-default pull-right" (click)="onDeleteFilm(film)">
            <span class="glyphicon glyphicon-minus"></span>
          </button> -->
        </h4>
        <p class="list-group-item-text">{{ film.producer }}</p>
	<img class="images" style="max-width:120px;" [src]="film.poster"/>
      </button>
    </div>

  </div>
</div>
