body{
  margin: 0px;
}

img {
  overflow-y: scroll;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.contact {
  background-color: #fff;
  padding: 15px;
  max-width: 200px;
  margin: 30px auto;
}

.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.circle{
  position:relative;
  width:50%;
  padding-bottom:50%;
  background:gold;
  border-radius:50%;
}
.circle h3{
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  margin:0;
}

.like {

	background-color: #007bff;

}  

.unlike {

  background-color: red;

}  


.info {

  background-color: gray;

}  

.account-img-small {
  height: 30px;
  width: 30px;
  margin-right: 2px;
  margin-bottom: 1px;
}/* You can add global styles to this file, and also import other style files */


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */

  .group_div {
    position: fixed;
    right: 3px;
  }
  .keep_ratio_img {
    display: block;
    max-width:830px;
    max-height:895px;
    width: auto;
    height: auto;
  }
  .btn_select {
    height: 200px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:absolute;

  }

  .btn_select_2 {
    height: 120px;
    line-height: 120px;  
    width: 120px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:relative;
  }

  .im_style {
  width: 100%; 
  height:auto;
  object-fit: cover; 
  position:center;
  }
  .account-img {
      height: 125px;
      width: 125px;
      margin-right: 20px;
      margin-bottom: 16px;
    }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
.group_div {
    position: fixed;
    right: 3px;
  }
  .keep_ratio_img {
    display: block;
    max-width:390px;
    max-height:545px;
    width: auto;
    height: auto;
  }
  .btn_select {
    height: 160px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:relative;
  }

  .btn_select_2 {
    height: 120px;
    line-height: 120px;  
    width: 120px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:relative;
  }

  .im_style {
  width: 100%; 
  height:auto;
  object-fit: cover; 
  position:center;
  }
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

}

@media only screen and (max-width: 46.875em) {
  /* Show the sidenav */
/*  .smallscreen-text-1 {
    margin-top:10px;
  }*/
  .cryptodiv {
    display:none;
  }
  .smallscreen {
    display:none;
  }
  .group_div {
  }
  .keep_ratio_img {
    display: block;
    max-width:230px;
    max-height:395px;
    width: auto;
    height: auto;
  }
  .btn_select {
    height: 90px;
    line-height: 45px;  
    width: 45px;  
    font-size: 1em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:relative;
  }
  .btn_select_2 {
    height: 90px;
    line-height: 90px;  
    width: 90px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    position:relative;
  }
  .center_icon_btn {
  }
  .im_style {
    width: 90%; 
    height:auto;
    object-fit: cover; 
    position:center;
  }
  .account-img {
    height: 55px;
    width: 115px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}


/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*login */
.home_pic {
  background-image: url("assets/images/home.jpg");
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


.buttonn:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}