<div class="row m-1">
  <div class="col-md-8">
    <div
      *ngFor="let film of films; let i = index"
      style="border: 0;" >
      <div id="{{film.id}}" class="container pb-5 mb-5" >
        <img class="mt-5 rounded mx-auto d-block images keep_ratio_img im_style" src="{{ 'https://image.tmdb.org/t/p/original' + film.poster_path }}" style="">
        <div class="center container ">
          <div class="center_icon_btn ">
            <div class="row mt-2 " style="position: relative;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="film.id">
              <div class="card card-body" style="border-color: #007bff;border-width: medium;">
                <p>
                  <h5><strong>
                {{ film.title }}
                 </strong></h5>
                <p>
                <div class="row">
                  <div class="col-2">Story</div>
                  <div class="col">{{ film.overview }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">Popularity</div>
                  <div class="col">{{ film.popularity }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">Release Date</div>
                  <div class="col">{{ film.release_date }}</div>
                </div>
                <p>
                <div class="row">
                  <div class="col-2">More</div>
                  <div class="col">{{ film.info }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 " style="background-color: white;">
    <div class="">
        <div class="mt-5 card-header bg-light">
          <h4 style="color: block">
            My groups
          </h4>
          <div id="accordion">
            
          </div>
